body{
   
    background-color: #000;
    margin: 0;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.8em;
    color: #fff;
    
}
h2{

    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
}
p{
    color: #fff;
}
.img1,.img2,.img3,.img4{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
.img1{
    background-image: url('../1.jpg');
    height: 100vh;
    min-width: 100vh;
    
}
.img2{
    background-image: url('../2.jpg');
    min-height: 90vh;
    min-width: 100vh;
}
.img3{
    background-image: url('../4.jpg');
    min-height: 90vh;
    min-width: 100vh;
}
.img4{
    background-image: url('../1.jpg');
    min-height: 100vh;
    min-width: 100vh;
}
.section{
    
    text-align:center;
    padding:20px 30px;
    background-size: cover;
    min-height: 20vh;
    min-width: 90vh;
  }
  .text{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
  }

  .text .bcg{
    background-color:transparent1;
    color:#fff;
    padding:20px;
  }
  .text .bcg2{
    background-color:transparent1;
  }
  @media only screen and (max-width: 600px) {
    body {
      font-size: 12px;
    }
  }
  .footer{
    background-color:#000;
    text-align:center;
    font-size:16px;
    letter-spacing:8px;
    padding:5px;
    max-height: 30vh;
    min-width: 100vh;

  }
    
   
  
